



body {

  background-color:rgb(210, 236, 247)
  
}
.community > div { 
    height: 60px;
    display: flex;
    cursor: pointer;
    font: caption;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    counter-reset: li;
    font-size: 1rem;
    counter-increment: li;
    content: counter(li, decimal-leading-zero);
        color: black;
        margin-right: 0.25em;
    
}
.province > div{
    height: 60px;
    display: flex;
    cursor: pointer;
    font: caption;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    counter-reset: li;
    font-size: 1rem;
    counter-increment: li;
    content: counter(li, decimal-leading-zero);
        color: black;
        margin-right: 0.25em;
    
    
}
.temperature{
    height: 60px;
    display: flex;
    cursor: pointer;
    font: caption;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    counter-reset: li;
    font-size: 1rem;
    counter-increment: li;
    content: counter(li, decimal-leading-zero);
        color: black;
        margin-right: 0.25em;
}


.mainCities > div{
    font: caption;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin: 0 0 1em 0; 
    caption-side: top;
    border-radius: 10px;
    font-size: 1rem;
}

.container-head{

    display: flex;
    width: 100%;
    padding: 0px;
    margin: 5px;
    height: 100px;
    background-color:white;
    border-radius: 10px;
    border: 3px solid #080707;

}
.head{
    display: flex;
    width: 220px;
    height: 100px;
    font-size:40px ;
    font-family:Arial, Helvetica, sans-serif;
    align-items: center;
    

}
img{
   display: flex;
   height: 100px;
   width: 200px;
   
   
  
   
}

.container-footer > div{
display: flex;
 cursor: pointer;
 font: caption;
 


}
.container-footer{
    display: flex;
    background-color:azure;
    border-radius: 5px;
    border: 1px solid #080707;
  
   
}

.container-footer > img{

    display: flex;
   
}

p{
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    
}
.main-footer {
    display: flex;
    padding: 1.5rem 1rem;
    
}
footer {
    display: flex;
    background-color: #F4F5F2;
    color: #6F6F6D;
    padding: 1.5625rem 2.5%;
    
    
}
footer .content h3 {
    color: #6F6F6D;
    display: flex;
    
}

.footer-links-about h3 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -0.00625rem;
    font-weight: 700;
    display: flex;
}
h3, .h3-simulated {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 0.3125rem;
    padding-top: 0.625rem;
    display: flex;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    display: flex;
}
.footer-links-about ul {
    line-height: 2rem;
    display: flex;
}

ul, ol {
    list-style: none;
    list-style-image: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
a {
    color: #145BC7;
    text-decoration: none;
}
 